*{
    margin:0px;
    padding:0px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #ebeb79;
    height: 100vh;

}
.heading{
    text-align: center;
    padding: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 36px;
}
.calculator{
    width: 300px;
    height: auto;
    background-color: #ffadad;
    margin: 100px auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow:#fbe9e9;
}
.display{
    width: 100%;
    border-radius: 25px;
    height: 50px;
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.buttons button{
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: #fbe9e9;
    box-shadow: 0px 0px 2px #fbe9e9;
    cursor: pointer;
}
.buttons button:hover{
    background-color: #ffd6d6;
}